<form class="book-new__form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="book-new__form-field">
    <label for="isbn">ISBN</label>
    <input
      id="isbn"
      type="text"
      formControlName="isbn"
      [class.book-new__form-field--error]="form.get('isbn')?.invalid && form.get('isbn')?.dirty"
    >
  </div>

  <div class="book-new__form-field">
    <div>
      <button (click)="addAuthor()" type="button">Add author</button>
    </div>
    <ng-container formArrayName="authors">
      @for(author of authors.controls; track $index){
        <label class="form-field">
          <span>Author</span>
          <input [formControl]="author" />
        </label>
        <button (click)="deleteAuthor($index)" type="button">
          Remove Author
        </button>
      }
    </ng-container>
  </div>

  <div class="book-new__form-field">
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title">
    @if (form.hasError('required', 'title') && form.get('title')?.touched) {
      <small>Please insert a title.</small>
    }
  </div>

  <div class="book-new__form-field">
    <label for="subtitle">Subtitle</label>
    <input id="subtitle" type="text" formControlName="subtitle">
  </div>

  <div class="book-new__form-field">
    <label for="abstract">Abstract</label>
    <textarea id="abstract" formControlName="abstract"></textarea>
  </div>

  <button type="submit" [disabled]="form.invalid">Save</button>
</form>
