.book-new__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;

  button {
    align-self: flex-end;
  }
}

.book-new__form-field {
  display: flex;
  flex-direction: column;

  &--error {
    border: red 2px solid;
  }
}
